# Byte-compiled / optimised
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.spec
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# PyInstaller
*.manifest
*.log
